<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022695141220-ji0f9iglu2k3kdrr1bldpdsteqdv0du0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022695141220-ji0f9iglu2k3kdrr1bldpdsteqdv0du0</string>
	<key>API_KEY</key>
	<string>AIzaSyCWtB0ywwi9RyFl5cUijLtHLIKSGLsriVw</string>
	<key>GCM_SENDER_ID</key>
	<string>1022695141220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jykim.YummyTummy</string>
	<key>PROJECT_ID</key>
	<string>yummy-67a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>yummy-67a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022695141220:ios:d2b33bd4e3146a0c845471</string>
	<key>DATABASE_URL</key>
	<string>https://yummy-67a4f.firebaseio.com</string>
</dict>
</plist>